body{
	font-family: 'Segoe UI';
    background-color: rgba(0,0,0,0.1);
}

/* header */

.bg-header{
    background: url(../img/bg.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
}
.logo{
    height: 70px;
    width: 70px;
}
.icon{
    height: 35px;
    width: 35px;
}
.btn-header{
    text-align: center;
}

/* block */
.block-1{
    background: url(../img/banner.jpg) no-repeat center center fixed;
}
.text-caption{
    font-size: 65px;
    font-weight: 700;
}
.know-more{
    background-color: rgba(255, 255, 255, 1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.my {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}



/* card-quetions */
.card-questions{
    border: 0;
}

/* card */
.img-card{
    max-width: 270px;
    max-height: 270px;
}
.accordion-question{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);

}

.accordion-button::after,
.accordion-button:not(.collapsed)::after{
    background-image: url(../bootstrap-icons-1.10.5/plus-circle.svg);

}
.accordion-button:not(.collapsed){
    background-color: rgba(255, 255, 255, 1);
}
.accordion-button:focus{
    border-color: rgba(255, 255, 255, 1);
    color: rgba(0,0,0,1);
}

/* footer  */
.social-footer{
    display: inline-block;
}
