body {
    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
}

/* header */

.bg-header {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
}

.icon {
    height: 35px;
    width: 35px;
}

.btn-header {
    text-align: center;
}

.dropdown {
    position: static;
}

li:hover>ul.drop-menu li {
    display: flex;
    width: 25%;
    position: relative;
}

li:hover>ul.drop-menu li:after {
    content: " ";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #d9d9d9;
    width: 90%;
}



/* navbar */
.navbar-full {
    position: relative;
    width: 100%;
    font-family: 'ProximaNova', sans-serif;
    font-size: 15px;
    color: #373737;
    line-height: 1.5;
}

.dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-top: 4px solid rgba(251, 169, 25, 1);
    border-radius: 0;
    padding: 0;
    left: 0;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.dropdown-menu li .dropdown-item {
    color: rgba(55, 55, 55, 1);
    font-size: 1em;
    padding: 0.5em 1em;
}


.drop-menu li {
    display: flex;
    width: 25%;
    position: relative;
}

ul.drop-menu li:after {
    content: " ";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: rgba(217, 217, 217, 1);
    width: 90%;
}

.dropdown-menu.show {
    display: flex;
}

@media only screen and (min-width: 992px) {

    .dropdown-menu ul {
        display: flex;
    }

    .dropdown:hover,
    .dropdown-menu:hover>.dropdown {
        color: rgba(255, 255, 255, 1) !important;
        background-color: rgba(251, 169, 25, 1);
    }

    .dropdown:hover>.nav-link,
    .dropdown-menu:hover>.nav-link {
        color: rgba(255, 255, 255, 1) !important;
    }

    .dropdown:hover .dropdown-menu {
        display: flex;
    }

    .dropdown:hover .dropdown-menu {
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 992px) {
    .dropdown-menu ul {
        display: inline;
    }
}



/* block */
.block-1 {
    background: url(../img/banner.jpg) no-repeat center center fixed;
}
.know-more {
    background-color: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 1140px) {
    .text-caption {
        font-size: 65px;
        font-weight: 700;
    }
}

@media only screen and (min-width: 992px) {
    .text-caption {
        font-size: 55px;
        font-weight: 700;
    }
}

@media only screen and (max-width: 992px) {
    .text-caption {
        font-size: 45px;
        font-weight: 700;
    }
}


/* file upload  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


/* card category */
.img-category {
    line-height: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 1.3em;
    background: linear-gradient(122deg, rgba(14, 68, 137, 0.67) 0%, rgba(0, 0, 0, 0.45) 100%);
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;
    min-height: 275px;
    display: flex;
    transition: border-radius 300ms ease 0ms, background-color 300ms ease 0ms, background-image 300ms ease 0ms;
    position: relative;
}

.img-category img {
    position: absolute;
    top: 0;
    right: 0;
    height: 80%;
    z-index: -1;
    display: block;
    width: auto;

}

.img-category:hover {
    background: rgba(255, 255, 255, 1);
    transition: border-radius 300ms ease 0ms, background-color 300ms ease 0ms, background-image 300ms ease 0ms;
    border-radius: 0;
    z-index: 5;
}

.text-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.img-category:hover>.text-img {
    color: rgba(0, 0, 0, 1);
}

/* catalog */
.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: rgba(210, 244, 234, 1);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: rgba(210, 244, 234, 1);
}

.sidebar-catalog {
    border: 6px solid rgba(74, 73, 75, 1);
}

.sidebar-catalog a:hover,
.sidebar-catalog a:focus {
    background-color: transparent !important;
}

.btn-toggle:hover,
.btn-toggle:focus {
    background-color: transparent !important;
    color: rgba(157, 72, 0, 1);
}

table,
th,
td {
    border: 1px solid rgba(0, 82, 123, 0.17);
    border-collapse: collapse;
    --bs-table-accent-bg: rgba(255, 255, 255, 1);
    --bs-table-striped-bg: rgb(245, 247, 250, 1);
}

.table>:not(:first-child) {
    border-top: 0;
}

.link-catalog {
    color: rgba(157, 72, 0, 1);
    font-weight: 600;
    text-decoration: none;
}

.link-catalog:hover {
    color: rgba(157, 72, 0, 1);
}

@media only screen and (max-width: 770px) {
    .form-filter{
        display: grid;
    }
    .form-filter select {
        border-radius: 8px;
        border: 1px solid rgba(225, 177, 137, 1);
        font-weight: 400;
    }
}
@media only screen and (min-width: 770px) {
    .form-filter select {
        width: auto;
        border-radius: 8px;
        border: 1px solid rgba(225, 177, 137, 1);
        font-weight: 400;
    }
}

/* card-quetions */
.card-questions {
    border: 0;
}

/* card */
.img-card {
    max-width: 270px;
    max-height: 270px;
}

.accordion-question {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);

}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: url(../bootstrap-icons-1.10.5/plus-circle.svg);

}

.accordion-button:not(.collapsed) {
    background-color: rgba(255, 255, 255, 1);
}

.accordion-button:focus {
    border-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}

.apply-to {
    display: inline-flex;
}


/* footer  */
footer {
    background-color: rgba(255, 255, 255, 1);
}

.social-footer {
    display: inline-block;
}





/* arrow */
.gg-arrow-right {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 24px
}

.gg-arrow-right::after,
.gg-arrow-right::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 3px
}

.gg-arrow-right::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 7px
}

.gg-arrow-right::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor
}